@import  "./navbar.css";
@import  "./contact.css";
@import  "./home.css";
@import  "./how-we-work.css";
@import  "./our-agency.css";
@import  "./contact-info.css";
@import  "./footer.css";
@import  "./article.css";
@import "./who-we-are.css";
*{
  font-family: 'Urbanist', sans-serif;
  margin: 0px;
  box-sizing: border-box;
  padding: 0px;
  text-transform: capitalize;
  list-style: none;
  ;}
  img{
    max-width: 100%;
  }
  .container{
  padding: 0px 15px;
  margin: 0px auto;
  }
  .section .container{
    border-top: 1px solid #DAD9D6;
  }
  @media (max-width: 600px) {
    @media (max-width: 1200px) {
      .container {
      width: 80%;
      padding-block: 100px;
      }
      @media (max-width: 992px) {
        .container {
        width: 970px;
        }
        }
      
  .container {
    padding-inline: 0;
    width: 100%;
  }
  }
  /* Medium */
  /* Large */
  }
  .section{
  }
  .text .btn-holder{
    display: flex;
      justify-content: space-between;
    }
    .btn{
      font-size: 18px;
      text-transform: uppercase;
      border: 0;
      width: 230px;
      height: 50px;
    }
    .text .btn-red{
    background-color: #7D1911;
    color: white;
    }
    .btn-white{
    background-color: transparent;
    border: 2px solid black;
    }
    