

.home-page .container{
  display: flex;
  justify-content: space-between;
  height: 100%;
  margin: 0px;
  padding-right: 0px;
  width: 100%;
  border:0;
  padding-top: 0;
  }
  .home-page .text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
  margin-left: 100px;
  
}
.text .title{
  font-size: 30px;
  margin-bottom: 100px;
  text-transform: uppercase;
  line-height: 1.6;
}
.home-page .text p{
  margin-bottom: 30px;
  line-height: 2;
  color: #555671;
  font-size: 16px;
}
.images-holder{
  display: flex;
    flex-direction: column;
    gap: 35px;
    overflow: hidden;
    align-items: end;
    position: relative;
    width: 580px;
    max-width: 100%;
}
.home-page .images-holder img:first-of-type{
  width: 420px;
  height: 467px;
  display: block;
  margin-right: 86px;
}
.home-page .images-holder img:nth-of-type(2){

  display: block;
  margin-right: -70px;
  object-fit: contain;
  height: 393px;
  width: 526px;

}
.vectors{
position: absolute;
  z-index: -1;
  right: 0; 
  width: 100%;
}
.home-page .vectors .rects{
display: flex;
}
.home-page .vectors .rect{
  width: 422px;
  height: 427px;
  margin-right: 420px;
background-color: #C4C4C4;
}
.home-page .vectors .rect-two{
height: 198px;
background-color: #FCE74D;
width: 500px;
margin-top: 94px;
margin-right: 0px;

}

.home-page .vectors .triangle{
width: 0;
  height: 0;
  border-bottom: 300px solid #fce74d;
  border-right: 300px solid transparent;
  position: relative;
  top: 225px;
}
.home-page .vectors .circle{
width: 100px;
height: 100px;
background: #E49B38;
border-radius: 50%;
position: absolute;
right: -170px;
}
@media (max-width: 600px) {
  .home-page .container{
    padding: 0;
  }
  .home-page .title{
    font-size: 20px;
    margin: 50px 0 150px 30px;
    width: 210px;
  }
  .home-page .text{
    position: absolute;
    z-index: 10;
    margin-left: 0;

  }
  .home-page .images-holder img:first-of-type{
    margin-right: -129px;
    max-width: fit-content; 
  
  }
  .home-page .images-holder img:nth-of-type(2){
    height: fit-content;
    margin-right: -170px;
  }
  .home-page .vectors .rect{
    margin-right: 290px;
  }
  .home-page .vectors .rect-two{
    display: none;
  }

  .home-page .text p {
    width: 250px;
    margin: 170px 10px;
  }
  .home-page .btn-holder{
    flex-wrap: wrap;
    width: fit-content;
    gap: 10px;
    margin-left: 10px;
    position: absolute;
    bottom: 0px;
  }

}

  /* Medium */
  @media (max-width: 992px) {
  .home-page .images-holder {
    width: 413px;
    margin-left: auto;
    }
    .home-page .text{
      position: absolute;
      margin-left: 20px;
      margin-top: 50px;
      width: 300px;
    }
    .home-page .vectors .rect{
      margin-right: auto;
    }
    .home-page .images-holder img:first-of-type{
      margin-right: -92px;
    }
    .home-page .images-holder img:nth-of-type(2){
      margin-right: -190px;
      max-width: fit-content;
    }
    .home-page .btn-holder{
      flex-wrap: wrap;
      gap: 20px;
    }
  }
  /* Large */
  /* @media (min-width: 1200px) {
  .container {
  width: 80%;
  padding-block: 100px;
  }
  } */