.our-agency{
  
}
.our-agency h2{
  font-weight: 400;
  text-transform: uppercase;
  font-size: 30px;
  text-align: center;
  margin-bottom: 50px;
}
.our-agency .bot-area{
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-size: cover;
  flex-wrap: wrap;
}

.our-agency .bot-area .left-area img{
  width: 475px;
  display: none;
}
.our-agency .bot-area .right-area img{
width: 100%;
}
.our-agency p{
  width: 100%;
  line-height: 2;
  color: #555671;
  font-size: 16px;
  max-width: 100%;
  text-align: center;

}
.our-agency .left-area{
}
.our-agency .right-area{
  padding-top:50px;
}
.our-agency .right-area p{
  margin-left: auto;
  position: relative;
margin-top: 50px;
}
.our-agency .btn{
  display: block;
  margin-left: auto;
}
.our-agency p .circle{
  width: 520px;
  height: 520px;
  border-radius: 50%;
  background: #EEB93F;
  position: absolute;
  left: -357px;
  top: 0;
  z-index: -1;
}
.our-agency .image-holder{
  position: relative;
  height: fit-content;
  width: fit-content;
}

@media (max-width: 600px) {
  .our-agency .circle2{
    display: none;
}

}
@media (max-width: 992px) {
  .our-agency p .circle{
    display: none;
    }
    .our-agency span.circle2{
      width: 826px;
      position: absolute;
      height: 826px;
      background: #EEB93F;
      border-radius: 50%;
      top: 50%;
      z-index: -1;
      left: calc(-50% - 83px);
      transform: translateY(-50%);
    }  
}
@media (min-width: 993px) {
  .our-agency.section .container h2{
    font-size: 40px;
    margin-bottom: 100px;
  }
  .our-agency .text{
    margin-top: 80px;

  }
  .our-agency p {
    text-align: initial;
    width: 400px;
    margin-top: initial;
  }
  .our-agency .bot-area .left-area img{
  display: initial;
  }
  .our-agency .text{
    margin-bottom: 150px;
  }
  .our-agency .bot-area .right-area img{
  margin: initial;
    width: 640px;
  }
  .our-agency .bot-area{

    background-image: url("/our-agency.png");

  }
  .our-agency p .circle{
  display: none;
  }
}
