@import "./animations/box1.css";
@import "./animations/box2.css";
@import "./animations/box3.css";
@import "./animations/box4.css";
@import "./animations/box5.css";
@import "./animations/box6.css";
.who-we-are h2{
    font-size: 30px;
    text-align: center;
}

.who-we-are .boxes{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin-bottom: 50px;
}
.who-we-are .box-container{
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.who-we-are .box-container p:first-of-type{
    font-size: 28px;
}
.who-we-are .box-container p:last-of-type{
    color:#555671;
    line-height:2
}
.who-we-are button{
    display: block;
    margin: auto;
}
    @media (max-width: 600px) {
        .who-we-are .box-container {
            max-width: 100%;
            margin: auto;
            text-align: center;
            margin-bottom: 40px;
        }

@media (max-width: 992px) {
    .who-we-are .box-container{
        margin-bottom: 0;
    }
}
        }
        @media (min-width: 993px) {
            .who-we-are h2{
                font-size: 40px;
                text-align: left;
            }
            .who-we-are .container{
                width: 90%;
            }
            .who-we-are .box-container{
                margin-bottom: 0;
            }
            .who-we-are .boxes{
                justify-content: space-between;
            }
            .who-we-are button{
                margin-left: auto; 
                margin-right: initial;
            }
        }
      